# Ignore map source files (such as Geojson) : heavy data
.htaccess
/vendor
webpack.config.js
node_modules
bin
_preprod
public/node_modules
public/map/sources
public/map/Env.js
public/media/temp
public/media/course/temp
public/media/overall.mp4
public/media/overall2.mp4
public/media/brands
public/api/garmin/errors