
/* New */

.new-ac-upload-container {
    margin-bottom: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.new-ac-upload-photos-container {
    margin: 20px 0px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-ac-upload-photos-container > * {
    flex-grow: 1;
}

#activityMapContainer {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#activityMap {
    height: 100%
}

#divCheckpoints {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.new-ac-properties-container {
    display: flex;
    padding: 1rem !important;
    gap: 10px;
    border-top: 1px dashed #ced4da;
}


.new-ac-checkpoint {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new-ac-checkpoint svg {
    fill: #5c9999;
}
.new-ac-checkpoint-topline {
    display: flex;
    gap: 20px;
    max-height: 2.5rem;
}
.new-ac-checkpoint-properties {
    display: flex;
    min-width: 120px;
}

.new-ac-save-container {
    display: flex;
    padding-top: 1rem;
    border-top: 1px dashed #ced4da;
}

.ac-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ac-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 4px lightgrey;
    border-radius: 5px;
    overflow: hidden;
}
.ac-main-container {
    display: flex;
}
.ac-thumbnail-container {
    margin-left: auto;
    height: 200px;
    min-width: 260px;
    width: 500px;
}
.ac-map-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ac-map-thumbnail:hover, .ac-name:hover {
    opacity: 0.8;
}
.ac-infos-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ac-details {
    overflow: auto;
}
.ac-user-details {
    display: flex;
    gap: 10px;
}
.ac-name {
    font-weight: bold;
    font-size: 18px;
    color: #5c9999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ac-user-name a {
    color: inherit;
    text-decoration: inherit;
}
.ac-name a {
    color: inherit;
    text-decoration: inherit;
}
.ac-posting-date {
    color: darkgrey;
}
.ac-place {
    height: 60px;
}
.ac-specs {
    justify-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px;
    margin-top: auto;
    gap: 2px;
}
.ac-spec {
    padding: 4px;
    background-color: #f9f9f9;
    width: 80px;
    flex-grow: 2;
}
.ac-spec-label {
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
}
.ac-spec-unit {
    font-size: 14px;
    display: inline;
}
.ac-photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.ac-photos-container a {
    display: inherit;
    position: relative;
    flex-grow: 3;
}
.ac-photo-container {
    height: 150px;
    width: 150px;
    flex-grow: 1;
}
.ac-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ac-photo:hover {
    opacity: 0.8;
}
.ac-photo-container.featured {
    min-width: 260px;
}
.ac-photos-others {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: white;
    height: 100%;
    width: 100%;
    background-color: #00000055;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-ac-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.my-ac-card {
    display: flex;
    height: 180px;
    gap: 2px;
    background-color: white;
    box-shadow: 1px 1px 3px lightgrey;
}
.card-reverse {
    flex-direction: row-reverse;
}
.my-ac-thumbnail-container {
    margin-left: auto;
    min-width: 260px;
    width: 500px;
}
.my-ac-photos-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 270px;
    background-color: lightgrey;
    overflow: hidden;
}
.my-ac-photo-container {
    width: 90px;
    height: 90px;
    border: 1px solid white;
    flex-grow: 4;
}
.my-ac-photo-container.featured {
    width: 100%;
}
.my-ac-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.my-ac-infos-container {
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .my-ac-photos-container {
        display: none;
    }
    .ac-spec-unit {
        font-size: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ac-spec-value {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .ac-main-container, .new-ac-upload-photos-container {
        flex-direction: column;
    }
    .new-ac-upload-photos-container > * {
        width: 100%;
    }
    .ac-infos-container {
        padding: 10px;
    }
    .ac-thumbnail-container {
        max-width: unset;
        min-width: unset;
        width: 100%;
        height: 200px;
    } 
    .my-ac-thumbnail-container {
        max-width: unset;
        min-width: unset;
        width: 100%;
        height: 200px;
    }
    .ac-spec-label {
        font-size: 7px;
    }
    .ac-spec {
        flex-grow: 2;
        flex-wrap: wrap;
    }
    .ac-name {
        font-size: 14px;
        white-space: normal;
    }
    .ac-posting-date, .ac-place {
        font-size: 11px;
        height: auto;
    }
    .ac-photo-container {
        width: 50%;
        max-height: 140px;
        flex-grow: 4;
        margin: 0px
    }
    .my-ac-card {
        height: auto;
        flex-direction: column;
        min-height: 180px;
    }

    .new-ac-checkpoint-topline {
        max-height: unset !important;
        flex-wrap: wrap;
        gap: 5px !important;
    }
    
    .new-ac-checkpoint-topline > * {
        width: 40%;
    }
    
    .new-ac-checkpoint-topline input {
        min-width: 100px;
    }
    
    #divCheckpoints {
        padding: 20px;
    }
    
    .new-ac-checkpoint {
        padding: 10px 20px;
        background-color: #eee;
    }
    
    .new-ac-properties-container {
        flex-direction: column;
        padding: 1rem 0px !important;
    }
    
    .new-ac-properties-container > * {
        width: 100%;
    }
}

.pg-ac-header {
    height: 350px;
    background-position: center;
}
.pg-ac-header h1, .pg-ac-header p {
    color: white;
}
.pg-ac-specs-container {
    display: flex;
    align-items: center;
    height: 80px;
}
.pg-ac-spec-container {
    width: 120px;
    background-color: #e8e8e8;
    border-left: 2px solid white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 10;
    height: 100%;
    display: flex;
    cursor: default;
}
.pg-ac-spec-label {
    color: grey;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.pg-ac-spec-value {
    font-size: 22px;
}
.pg-ac-spec-unit {
    display: inline;
    font-size: 14px;
}

.pg-ac-summary-container {
    display: flex;
    gap: 20px;
    height: 100%;
    position: relative;
}
.pg-ac-timeline {
    background-color: blue;
    border-radius: 10px;
    min-width: 10px;
    margin-top: 15px;
}
.pg-ac-checkpoints-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.pg-ac-checkpoint-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.pg-ac-checkpoint-topline {
    align-items: center;
    gap: 6px;
    font-weight: bold;
    cursor: pointer;
}
.pg-ac-checkpoint-topline svg {
    position: absolute;
    left: 33px;
    background-color: white;
    border-radius: 99px;
    border: 3px solid blue;
    padding: 1px;
}
.pg-ac-checkpoint-topline div {
    display: inline;
}
.pg-ac-checkpoint-time {
    color: grey;
}
.pg-ac-photos-container {
    display: flex;
    flex-wrap: wrap;
}
.pg-ac-photo-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    height: 150px;
    width: 175px;
    max-width: 50%;
    flex-grow: 4;
}
.pg-ac-photo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}
.pg-ac-photo:hover {
    opacity: 0.8;
}
.pg-ac-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    border-radius: 0px 20px;
    color: white;
    margin: 5px;
    cursor: pointer;
    z-index: 3;
}
.pg-ac-close-button:hover {
    background-color: #ffffff44;
}
.pg-ac-map-img-container {
    width: 35px;
    height: 20px;
    top: -15px;
    cursor: pointer;
    transition: height 0.5s, width 0.5s, top 0.5s, z-index 0.5s;
}
.pg-ac-map-img-container:hover img {
    border-color: yellow;
}
.pg-ac-map-img-container:hover::after img {
    color: yellow;
}
.pg-ac-map-img-container::after {
    content: '\25BC';
    height: 0px;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 21px;
    position: absolute;
    z-index: -1;
    text-shadow: 0px 10px 4px #00000033;
    color: #ffffff;
}
.pg-ac-map-img-container.grown {
    width: 700px;
    height: 400px;
    z-index: 3;
    top: -220px;
    transition: height 0.5s, width 0.5s, top 0.5s, opacity 0.5s, z-index 0.5s;
}
.pg-ac-map-img-container.grown:hover {
    opacity: 0.2 !important;
    transition: height 0.5s, width 0.5s, top 0.5s, opacity 0.5s;
}
.pg-ac-map-img-container.grown::after {
    font-size: 50px;
    color: #ff5555;
}
.pg-ac-map-img-container.grown img {
    border-color: #ff5555;
}

.pg-ac-map-img-container.half-grown {
    width: 350px;
    height: 200px;
    z-index: 4;
    top: -120px;
    transition: height 0.5s, width 0.5s, top 0.5s, opacity 0.5s, z-index 0.5s;
}
.pg-ac-map-img-container.half-grown:hover {
    opacity: 0.2 !important;
    transition: height 0.5s, width 0.5s, top 0.5s, opacity 0.5s;
}
.pg-ac-map-img-container.half-grown::after {
    font-size: 50px;
    color: #ff5555;
}
.pg-ac-map-img-container.half-grown img {
    border-color: #ff5555;
}
.pg-ac-map-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 2px solid white;
}

.logo-checkpoint-marker {
    background-color: white;
    z-index: 3;
    border: 3px solid blue;
}
.logo-checkpoint-marker img {
    padding: 2px;
    height: 100%;
}
.logo-checkpoint-marker::after {
    bottom: 6px !important;
}

.pg-ac-checkpoint-popup {
    z-index: 3;
    padding: 10px;
    border-radius: 6px;
}


@media only screen and (max-width: 768px) {
    .pg-ac-specs-container {
        flex-direction: column;
        height: auto;
    }
    .pg-ac-spec-container {
        width: 100%
    }
    .pg-ac-timeline {
        min-width: 6px;
    }
    .pg-ac-checkpoint-topline svg {
        left: 11px;
    }
}

.story-caption {
    bottom: 0px !important;
    visibility: visible !important;
}
.story-number {
    border: 1px solid white;
    text-align: center;
    padding-left: 2px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 3px #000;
    border-radius: 99px;
}