#amount {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#amount-details {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 20px;
}

.product-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-block:not(:last-child):after {
    content: '+';
}

.product {
    padding: 8px;
    background-color: #5c9999;
    color: #fff;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    text-align: center;
}

.product-price {
    font-weight: bold;
}