.brand h3 {
    font-family: monospace;
    margin-top: 20px;
    font-size: 18;
}
.brand h2 {
    font-family: monospace;
    margin-top: 40px;
    font-size: 22px;
}

.brand iframe {
    width: 100%;
    height: 600px;
}

.poli-slider {
    height: 300px !important;
    width: 100% !important;
}
.poli-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.poli-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
.poli-catalog-block {
    width: calc(50% - 10px);
    height: 200px;
    position: relative;
    background-color: #fff;
    padding: 20px;
}
.poli-catalog-block img, .poli-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    object-fit: contain;
    width: -webkit-fill-available;
}
.poli-catalog-block img {
    opacity: 0.5;
}
.catalog-text {
    position: relative;
}
.catalog-text a {
    font-weight: bold;
}
.poli-item .catalog-text {
    background-color: #ffffffaa;
    padding: 10px;
}

.poli-item {
    width: 250px;
    text-align: center;
    display: flex;
    align-items: self-end;
    justify-content: center;
    height: 300px;
    position: relative;
    background-color: #fff;
    padding: 20px;
}
.catalog-text h3, .catalog-text p {
    margin: 0;
}

.process-blocks {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.process-block {
    display: flex;
    align-items: center;
    gap: 10px;
}
.process-block .inr {
    background-color: #fff;
    font-size: medium;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 150px;
    height: fit-content;
    justify-content: center;
    min-height: 100px;
    padding: 10px;
    text-align: center;
}
.process-block .ttl {
    font-weight: bold;
}
.process-block.half .inr {
    background-color: unset;
}
.process-block:not(:last-child):not(.half):after {
    content: ">";
}

@media only screen and (max-width: 992px) {
    .poli-catalog-block {
        width: 100%;
    }
    .poli-slider img {
        object-position: right;
    }
    
    .process-blocks {
        flex-direction: column;
        align-items: center;
    }
    .process-block {
        width: 100%;
        flex-direction: column;
    }
    .process-block .inr {
        max-width: unset !important;
        width: inherit;
    }
    .process-block:not(:last-child):not(.half):after {
        content: "↓";
    }
}