

#dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    height: 220px;
}

.dashboard-rides {
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    align-items: end;
    background-size: cover;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.34% 33.34% 33.34%;
    grid-template-areas:
        'thumb1 card card'
        'thumb2 card card';
}

.dashboard-ride-thumbnail.ride-thumb-1 {
    grid-area: thumb1;
}
.dashboard-ride-thumbnail.ride-thumb-2 {
    grid-area: thumb2;
}

.dashboard-ride-card {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    background-size: cover;
    grid-area: card;
    cursor: pointer;
    transition: 0.5s height, 0.5s width;
    z-index: 1;
}

.dashboard-ride-card-block {
    height: 160px;
    font-size: 12px;
    padding: 12px 30px;
    overflow: hidden;
    text-shadow: 0 0 4px #000000;
    background: linear-gradient(0deg, #00000088, transparent);
}

.dashboard-ride-title {
    font-family: Yu Mincho;
    font-weight: bold;
    font-size: 22px;
    line-height: 1em;
    margin-bottom: 10px;
}

.dashboard-ride-thumbnail {
    width: 100%;
    height: 100%;
    grid-area: thumbnail;
    background-size: cover;
    grid-row-start: auto;
}

.dashboard-ride-card:hover {
    height: 105%;
    width: 140%;
    overflow: visible;
    transition: 0.5s height, 0.5s width;
}

.dashboard-ride-thumbnail:hover {
    opacity: 0.8;
}

.dashboard-ride-text {
    height: 6em;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dashboard-ride-card:hover .dashboard-ride-text {
    -webkit-line-clamp: 6;
    height: 9em;
}

.dashboard-ride-card:hover .dashboard-ride-card-block {
    height: 200px;
}

.dashboard-news {
    background-color: #0d8360;
    color: #fff;
    width: 50%;
    height: 100%;
    font-size: 12px;
    padding: 12px 30px;
}

.dashboard-news-header {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.dashboard-news .post-content {
    height: 10.5em;
    overflow: hidden;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.dashboard-news-link {
    margin: 12px 0;
    text-align: right;
}

.activity-card-propic {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.activity-card-header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.activity-card-title {
    font-size: 16px;
    font-weight: bold;
}

.dashboard-activity-card {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 45%;
    flex-grow: 1;
}

.activity-card-header-details {
    font-size: 11px;
    line-height: 1em;
}

.activity-card-media-featured {
    grid-area: featured;
    height: 100%;
    width: 100%;
}

.activity-card-media {
    max-width: 45%;
    min-width: 45%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: fit-content(100);
    grid-template-areas:
        'sub1 featured featured'
        'sub2 featured featured'
        'sub3 featured featured';
}

.activity-card-media-sub {
    height: 100%;
    width: 100%;
    max-height: 80px;
}

.activity-card-media-sub .n-1 {
    grid-area: sub1;
}

.activity-card-media-sub .n-2 {
    grid-area: sub2;
}

.activity-card-media-sub .n-3 {
    grid-area: sub3;
}

.dashboard-activity-card-body {
    display: flex;
    max-height: 160px;
    gap: 8px;
}

.activity-card-text {
    width: 33%;
    font-size: 11px;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.activity-card-text p, .activity-card-text li {
    margin: 0px;
    line-height: 1.6em;
}
.activity-card-text p {
    text-indent: 12px;
}

.activity-card-timeline {
    width: 120px;
}

.activity-card-timeline {
    display: flex;
    position: relative;
    overflow: hidden;
}

.activity-card-tileline-line {
    display: flex;
    font-size: 11px;
}

.activity-card-timeline-stroke {
    width: 2px;
    border: 2px solid;
    border-radius: 10px;
    margin: 9.5px;
    position: absolute;
    height: calc(100% - 20px);
}

.activity-card-timeline-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    height: -webkit-fill-available;
}

.activity-card-timeline-dot {
    position: absolute;
    margin: 4 7px;
    border: 5px solid;
    border-radius: 9px;
}

.dashboard-activity-card-tlname {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-card-media img {
    object-fit: cover;
}
.activity-card-media img:hover {
    opacity: 0.8;
}

.dashboard-activities {
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-activity-card-tldist {
    padding-left: 20px;
}



@media only screen and (max-width: 1000px) {

    .dashboard-activity-card {
        width:-webkit-fill-available;
        margin: 15px 0px;
    }
    
    .activity-card-header {
        text-align: center;
        align-self: center;
    }
}

@media only screen and (max-width: 800px) {

    .dashboard-header {
        flex-direction: column;
        height: 440px;
    }

    .dashboard-header > * {
        width: 100%;
        height: 50%;
    }

    .activity-card-header {
        display: inline-block;
    }
    
    .activity-card-title {
        display: inline;
        padding-left: 8px;
    }
    
    .activity-card-header-details > * {
        display: inline;
        padding-right: 6px;
    }
    
    .activity-card-media {
        grid-template-areas:
            'featured featured featured'
            'featured featured featured'
            'sub1 sub2 sub3';
        grid-template-rows: minmax(100px, 1fr) 3fr;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    
    .activity-card-tileline-line {
        font-size: 10px;
    }
}

.dashboard-rides a {
    color: #fff;
}

.infinite-loader {
    height: 40px;
    width: 100%;
    background-color: #fff;
    margin: 20px 0;
}