.dashboard {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: -webkit-fill-available;
}

@media only screen and (max-width: 1050px) and (min-width: 600px) {
    .dashboard {
        grid-template-columns: 35% 65%;
    }
    .sidebar-right {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 1;
        grid-row-end: 3;
    }
    .sidebar-main {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 4;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard {
        grid-template-columns: 100%;
    }
    .sidebar-right {
        grid-row-start: 2;
    }
}

.dashboard-container {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.dashboard-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
}
.dashboard-title-block {
    color: #fff;
    padding: 15px;
    background-color: #bbbbbb;
    display: flex;
    column-gap: 6px;
    flex-wrap: wrap;
}

.dashboard-block {
    background-color: #fff;
    padding: 10px;
}
.dashboard-block::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.dashboard-block::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f0f0f0;
}
.dashboard-block::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
}
.dashboard-block::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; 
}

.dashboard-thread-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.dashboard-cards {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.cleared-mkpoints-list {
    max-height: 200px;
    overflow: auto;
}
.cleared-mkpoints {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cleared-mkpoint-activity-date {
    color: #bbbbbb;
}
.cleared-mkpoint-name {
    font-weight: bold;
}
.cleared-mkpoint {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    border-bottom: 1px dashed #f0f0f0;
    padding: 10px;
}
.cleared-mkpoint:hover {
    background-color: #f9f9f9;
}
.cleared-mkpoint-thumbnail {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.cleared-mkpoint-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cleared-mkpoint-block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 3px;
}
.cleared-mkpoint-prefecture-block {
    padding: 10px;
    background-color: #bbb;
    color: #fff;
    cursor: pointer;
}
.cleared-mkpoint-city-container {
    padding: 6px 10px;
    background-color: #fff;
}

.rd-card {
    background-color: #fff;
}
.rd-header {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.rd-header:hover {
    opacity: 0.8;
}
.rd-title {
    color: white;
    text-shadow: 1px 1px 3px black;
    font-family: Yu Mincho;
    font-weight: bold;
}
.rd-date {
    color: white;
    text-align: right;
}
.rd-details {
    padding: 10px;
}
.rd-course {
    display: flex;
    gap: 5px;
    align-items: center;
}
.rd-course img {
    object-fit: cover;
    object-position: 0% 80%;
    height: 1em;
    width: 40px;
    border: 1px dashed;
}