

.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    height: 220px;
}

.dashboard-rides {
    position: relative;
    color: #fff;
    width: 50%;
    height: 100%;
    display: grid;
    align-items: end;
    background-size: cover;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.34% 33.34% 33.34%;
    grid-template-areas:
        'thumb1 card card'
        'thumb2 card card';
}

.dashboard-rides a {
    color: #fff;
    cursor: pointer;
}

.dashboard-ride-thumbnail.ride-thumb-1 {
    grid-area: thumb1;
}
.dashboard-ride-thumbnail.ride-thumb-2 {
    grid-area: thumb2;
}

.dashboard-ride-card {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    background-size: cover;
    grid-area: card;
    transition: 0.5s height, 0.5s width;
    z-index: 1;
}

.dashboard-ride-card-block {
    height: 160px;
    font-size: 12px;
    padding: 12px 30px;
    overflow: hidden;
    text-shadow: 0 0 4px #000000;
    background: linear-gradient(0deg, #00000044, transparent)
}

.dashboard-ride-title {
    font-family: Yu Mincho;
    font-weight: bold;
    font-size: 22px;
    line-height: 1em;
    margin-bottom: 10px;
}

.dashboard-ride-thumbnail {
    width: 100%;
    height: 100%;
    grid-area: thumbnail;
    background-size: cover;
    grid-row-start: auto;
}

.dashboard-ride-card:hover {
    height: 105%;
    width: 140%;
    overflow: visible;
    transition: 0.5s height, 0.5s width;
}

.dashboard-ride-thumbnail:hover {
    opacity: 0.8;
}

.dashboard-ride-text {
    height: 6em;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dashboard-ride-card:hover .dashboard-ride-text {
    -webkit-line-clamp: 6;
    height: 9em;
}

.dashboard-ride-card:hover .dashboard-ride-card-block {
    height: 200px;
}

.dashboard-news {
    background-color: #0d8360;
    color: #fff;
    width: 50%;
    height: 100%;
    font-size: 12px;
    padding: 15px 30px;
}

.dashboard-news-header {
    display: inline;
    gap: 10px;
    margin-bottom: 12px;
}

.dashboard-news-header * {
    display: inline;
    padding-right: 6px;
}

.dashboard-news .post-content {
    height: 10.5em;
    overflow: hidden;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.dashboard-news-link {
    margin: 12px 0;
    text-align: right;
}