.favorites {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .favorites {
        grid-template-columns: auto;
    }
}

.fav-card-appendice {
    width: 100%;
    text-align: right;
    background-color: #eee;
    padding: 10px;
    clear: both;
}