

.cf-footer {
    width: -webkit-fill-available;
    text-align: left;
    justify-content: center !important;
    align-items: flex-start !important;
    font-size: 10px;
}
.cf-footer a:hover {
    background-color: #6bc6ab;
}
.cf-footer-block .f-head {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
}
.cf-footer-block > a {
    display: block;
    padding: 0px 12px;
}

.footer-brands {
    padding: 0 60px;
}
.footer-brands img {
    width: 60px;
}

@media only screen and (max-width: 992px) {
    .cf-footer {
        flex-direction: column;
    }
    .footer div {
        align-items: center !important;
        text-align: center;
        font-size: 14px;
    }
    .cf-footer-block > a {
        padding: 2px 12px;
    }
}