
.checkpoint-marker {
    height: 20px;
    width: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    top: -13.25px !important;
    align-items: center;
    border-radius: 99px;
    background-color: #000; /* #28a0b6 */
    color: white;
    font-weight: bold;
    opacity: 1 !important;
}
.checkpoint-marker::after {
    content: '\25BC';
    height: 0px;
    bottom: 7px;
    font-size: 10px;
    position: absolute;
    z-index: -1;
    text-shadow: 0px 6px 6px #00000099;
    color: #000 !important;
}
.checkpoint-marker-start {
    background-color: #008d15 !important;
}
.checkpoint-marker-start::after {
    color: #008d15 !important;
}
.checkpoint-marker-goal {
    background-color: #df0000 !important;
}
.checkpoint-marker-goal::after {
    color: #df0000 !important;
}
.checkpoint-marker-startfinish {
    background: linear-gradient(to left, #df0000 50%, #008d15 50%);
}
.checkpoint-marker-startfinish::after {
    color: #008d15 !important;
}