.home-video {
    width: 100%;
    height: calc(100vh - 80px);
}
.home-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #5c9999;
}
.home-site-logo {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.home-site-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.home-brand {
    position: absolute;
    font-size: 40px;
    font-family: Dr sugiyama;
    color: block;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.home-main-caption {
    color: white;
    text-shadow: 0px 0px 50px black;
    text-align: center;
}
.home-main-caption p {
    margin-bottom: 3px;
    font-family: Yu Mincho;
}
.home-scenery-info {
    color: white;
    font-family: Yu Mincho;
    position: absolute;
    bottom: 10;
    right: 10;
    text-align: right;
}
.home-main-container {
    background-color: transparent;
    position: absolute;
    top: calc(80px + 0px);
    min-width: 100%;
    min-height: calc(100% - 80px);
    padding: 100px 10%;
    z-index: 6;
}
.home-text {
    font-size: 14px;
}

.home-columns {
    display: flex;
    height: 100%;
}
.home-column-map {
    padding: 20px 0px;
    width: 75%;
}
.home-column-2 {
    text-align: justify;
    width: 50%;
    padding: 20px;
}

.home-slide {
    height: 100vh;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.home-release-date {
    background-color: #5c9999;
    padding: 10px 0px;
    margin-top: auto;
    letter-spacing: 4;
    margin-top: 40px;
}

.schema {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px;
}
.schema-part {
    width: 280px;
    min-width: 280px;
    min-height: 280px;
    height: 280px;
    background-color: #eeeeee;
    border-radius: 999px;
}
.schema-title {
    padding: 20px 20px 0px 20px;
    font-family: Dr Sugiyama;
    font-size: 40px;
}
.schema-cross {
    font-size: 100px;
    font-family: Dr Sugiyama;
    align-self: center;
    line-height: 1em;
}
.schema-row {
    letter-spacing: 0.5;
    width: 80%;
    font-size: smaller;
    margin: 6px auto;
}

@media only screen and (max-width: 780px) {
    .home-slide p {
        font-size: smaller;
    }

    .home-slide {
        padding: 30px 10px;
    }
    .schema-part {
        width: unset;
        min-width: unset;
        min-height: unset;
        height: unset;
        background-color: unset;
        border-radius: 999px;
    }
    .schema {
        flex-direction: column;
        gap: 0px;
    }
    .schema-title {
        line-height: 1;
        padding: 0px;
    }
    .schema-row {
        margin: auto;
        font-size: small;
        width: 100%;
    }
    .schema-cross {
        font-size: 45px;
    }

    .home-columns {
        flex-direction: column;
    }
    .home-column-map {
        height: 40%;
        width: 100%;
        padding: 0px;
    }
    .home-columns > div {
        width: 100%;
        max-height: 60%;
        height: -webkit-fill-available;
        padding: 10px 0px;
        overflow: auto;
    }
}

@media only screen and (max-width: 560px) {
    .home-site-logo {
        height: 100px !important;
    }
    .home-brand {
        font-size: 40px;
        font-weight: normal;
    }
}