
.journal-board {    
    background-color: #f9f9f9;
}
.journal-board > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}

.journal-month-name {
    font-size: 34px;
    padding: 20px;
}

.journal-month-name, .journal-day-number {
    font-family: Yu Mincho;
}

.journal-month {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 150px);
}

.journal-day {
    position: relative;
    min-height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.journal-day.worked {
    z-index: 2;
}
.journal-day.worked:hover {
    z-index: 3;
}

.journal-record {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #5c9999;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 3px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s width ease-in, 0.5s height ease-in;
}
.journal-record.x-small {
    width: 70%;
    height: 70%;
}
.journal-record.small {
    width: 85%;
    height: 85%;
}
.journal-record.medium {
    width: 100%;
    height: 100%;
}
.journal-record.large {
    width: 110%;
    height: 110%;
}
.journal-record.x-large {
    width: 120%;
    height: 120%;
}
.journal-record.xx-large {
    width: 130%;
    height: 130%;
}
.journal-record:hover {
    width: 250px !important;
    height: 250px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: 0.5s width ease-out, 0.5s height ease-out;
    z-index: 2;
}

.journal-record a {
    opacity: 0;
    transition: 1s opacity, 1s font-size;
    cursor: pointer;
    color: #fff;
    font-family: Yu Mincho;
    width: fit-content;
    margin: 10px 0px;
    font-size: 0;
    padding: 10px;
    border: 1px solid;
    align-self: center;
}
.journal-record:hover a {
    opacity: 1;
    font-size: 16;
}

.journal-day.worked .journal-day-number {
    display: none;
}
.journal-day.rested .journal-day-number {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    min-height: 50px;
    color: #fff;
}

.journal-activity-title {
    font-weight: bold;
}


@media only screen and (max-width: 1200px) {
    .journal-month {
        grid-template-columns: repeat(7, 100px);
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .journal-record.x-small {
        height: 60%;
        width: 60%;
    }
    .journal-record.small {
        height: 70%;
        width: 70%;
    }
    .journal-record.medium {
        height: 80%;
        width: 80%;
    }
    .journal-record.large {
        height: 88%;
        width: 88%;
    }
    .journal-record.x-large {
        height: 95%;
        width: 95%;
    }
    .journal-record.xx-large {
        height: 100%;
        width: 100%;
    }
}

.journal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5;
    font-family: Yu Mincho;
    background-color: #ffffff99;
    backdrop-filter: blur(10px);
}

@media only screen and (max-width: 980px) {
    .journal-month {
        grid-template-columns: repeat(7, 80px);
    }
}

@media only screen and (max-width: 800px) {
    .journal-month {
        grid-template-columns: repeat(1, 100%);
    }
    .journal-record:hover {
        width: 90vw !important;
        height: 90vw !important;
    }
}



.journal-month-1 {
    background-color: #eaf5fe22;
}
.journal-month-1 .journal-day-number {
    background-color: #e5e8ea;
}
.journal-month-2 {
    background-color: #9afffd22;
}
.journal-month-2 .journal-day-number {
    background-color: #c2eceb;
}
.journal-month-3 {
    background-color: #e2c6ff22;
}
.journal-month-3 .journal-day-number {
    background-color: #e2c6ff99;
}
.journal-month-4 {
    background-color: #ffc6df22;
}
.journal-month-4 .journal-day-number {
    background-color: #ffc6df99;
}
.journal-month-5 {
    background-color: #25e02322;
}
.journal-month-5 .journal-day-number {
    background-color: #25e02355;
}
.journal-month-6 {
    background-color: #148b0e22;
}
.journal-month-6 .journal-day-number {
    background-color: #148b0e55;
}
.journal-month-7 {
    background-color: #d3ff0022;
}
.journal-month-7 .journal-day-number {
    background-color: #d3ff0055;
}
.journal-month-8 {
    background-color: #dcd90022;
}
.journal-month-8 .journal-day-number {
    background-color: #dcd90055;
}
.journal-month-9 {
    background-color: #aeb00022;
}
.journal-month-9 .journal-day-number {
    background-color: #aeb00055;
}
.journal-month-10 {
    background-color: #8a540022;
}
.journal-month-10 .journal-day-number {
    background-color: #8a540055;
}
.journal-month-11 {
    background-color: #ff551122;
}
.journal-month-11 .journal-day-number {
    background-color: #ff551155;
}
.journal-month-12 {
    background-color: #d9bdd622;
}
.journal-month-12 .journal-day-number {
    background-color: #d9bdd699;
}