* {
  box-sizing: border-box;
}

.gallery .column {
  height: 150px;
  width: 200px;
}

.gallery img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 20px;
}

.lightbox-row {
  display: flex;
  gap: 20px;
}

.lightbox-row:after {
  display: table;
  clear: both;
}

.columns-container {
  padding-bottom: 10px;
  display: flex;
  border-radius: 0px 0px 10px 10px;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  background-color: #000000bb;
  display: none;
  position: fixed;
  z-index: 10;
  padding: 20px 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-small {
  padding-top: 100px;
}

/* Modal Content */
.modal-block {
  position: relative;
  margin: auto;
  background-color: #f9f9f9;
  padding: 0;
  border-radius: 10px;
  width: 90%;
  box-shadow: 5px 5px 10px black;
  overflow: auto;
}

.modal-block-medium {
  width: 50%;
}

.modal-block-thin {
  width: 30%;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.thumbnails-box {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.column img {
  height: 120px;
  object-fit: cover;
}

.mySlides img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .mySlides img {
    background-color: #000;
    object-fit: contain;
  }
}

.name-container,
.caption-container {
  text-align: center;
  padding: 5px 20px;
}

.name-container {
  text-align: center;
}

.name-container input,
.name-container p {
  font-weight: bold;
}

.caption-container {
  text-align: left;
}

.demo {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightbox-admin-panel {
  padding: 10px 0px;
}

.lightbox-dark-label {
  color: lightgrey;
  margin: 10px;
}

.lightbox-dark-input {
  width: 90%;
  margin: auto;
  color: white;
  background-color: #222;
}

.lightbox-button {
  margin: 15px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: #5c9999;
}

.column-field {
  width: 90%;
  margin: auto;
}

.modal-block .caption-container {
  border-radius: 0px 0px 10px 10px;
}

.lightbox-period {
  position: relative !important;
  display: inline-block !important;
  padding: 10px 20px !important;
}

.lightbox-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0px;
  transition: visibility .3s, opacity .3s ease-in-out;
  bottom: 120px;
  padding: 20px;
  font-family: Yu Mincho;
  text-align: justify;
  letter-spacing: 2px;
  text-shadow: -1px -1px 5px black, 1px 1px 2px black;
  color: white;
  max-height: 200px;
  min-width: 100%;
  overflow: auto;
  z-index: 200;
  background-color: #00000066;
}

.lightbox-name {
  font-weight: bold;
  font-size: 18px;
}

.lightbox-caption::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.lightbox-caption::-webkit-scrollbar-track {
  border-radius: 10px;
}

.lightbox-caption::-webkit-scrollbar-thumb {
  background: #5c9999;
  border-radius: 10px;
}

.lightbox-caption::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  height: 80%;
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white !important;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}