.loader-center {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.loader-center::after {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #5c9999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    content: '';
}
.loader-inline {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #5c9999;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    display: inline-block;
}
.loader-compact {
    height: unset;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-element {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
}
.loader-icon {
	letter-spacing: 2px;
}

.upload-progress {
    background-color: blue;
}

.js-loader-container {
    height: 80px;
}


:root {
    --placeholder-primary: #eeeeee;
    --placeholder-secondary: #cccccc;
    --placeholder-tertiary: #aaaaaa;
    --placeholder-quaternary: #888888;
}
.loading-placeholder {
    animation: placeholder ease-in-out 2s infinite;
    height: 100%;
    width: 100%;
}
.loading-text-placeholder {
    animation: placeholder ease-in-out 2s infinite;
    width: 100%;
    height: 1em;
    margin: 2px;
    opacity: 25%;
}
@keyframes placeholder {
    0% {
        background-color: var(--placeholder-primary);
    }
    50% {
        background-color: var(--placeholder-secondary);
    }
    100% {
        background-color: var(--placeholder-primary);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}