.manual {
    display: flex;
    text-align: justify;
}

.manual > div {
    height: calc(100vh - 80px);
    overflow: auto;
}

.manual a {
    color: #00e06e;
}
.manual a:hover {
    text-decoration: underline;
}
.m-single a:visited {
    color: pink;
}

.manual p {
    color: #444;
    font-weight: 100;
}

.m-sidebar {
    min-width: 350px;
    width: 350px;
    padding: 20px
}
.m-sidebar ol {
    padding-left: 20px;
}
.m-summary ul {
    padding-left: 6px !important;
}

.m-summary > li {
    font-weight: bold;
}
.m-summary a {
    color: #649eae;
}
.m-summary-subtitle {
    font-weight: lighter;
    display: inline;
    color: #aaa;
}

.m-summary-details li {
    list-style: upper-latin inside;
}

.m-summary-h2 {
    font-weight: bold;
    font-size: small;
}
.m-summary-h3 {
    font-size: x-small;
}
.m-summary-link {
    display: inline;
    cursor: default;
    padding: 3px 6px;
}
.m-summary-link:hover {
    background-color: #fff;
}
.m-summary-toggletag {
    cursor: pointer;
    display: inline;
}

.m-single {
    width: -webkit-fill-available;
    background-color: white;
}

.manual h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans';
    color: #444;
}
.manual h1 {
    color: #649eae;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}
.m-subtitle {
    margin-bottom: 40px;
    padding-bottom: 6px;
    text-align: center;
    border-bottom: 1px solid #000;
    color: #555;
}
.manual h2 {
    margin-top: 100px;
    padding: 20px;
    background-color: #f9f9f9;
}
.manual h3 {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
}
.manual h4 {
    padding-top: 12px;
    padding-left: 32px;
}
.manual h5 {
    padding-top: 6px;
    padding-left: 50px;
}
.manual h6 {
    padding-top: 6px;
    padding-left: 50px;
    font-weight: normal;
    text-decoration: underline;
}

.m-temp {
    display: inline;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}

.m-path {
    padding: 12px 20px;
}

.m-intro, .m-part {
    padding: 20px;
}

.m-point {
    padding: 10px 20px;
    margin: 12px 0;
    background-color: #fffa9c;
}
.m-point::before {
    content: '\203B\ ';
}

.manual table {
    margin: 12px 0;
}
.manual th, .manual td {
    padding: 6px 10px;
    text-align: center;
}
.manual th {
    background-color: #eee;
}
.manual td {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

@media only screen and (max-width: 992px) {
    .manual {
        flex-direction: column;
    }
    .manual > div {
        height: unset;
    }
    .m-sidebar {
        width: unset;
    }
}