/* Transform popups to sidebar on larger devices */

@media (min-width: 800px) {

    .marker-popup {
        height: 100%;
        flex-direction: column !important;
        transform: none !important;
        max-width: 350px !important;
        width: 350px !important;
        line-height: unset;
        font-size: unset !important;
    }
    .mapboxgl-popup-tip {
        display: none;
    }
    .popup-head {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        width: 100%;
    }
    #sceneryAdminPanel {        
        padding: 10px 0px 5px 0px;
    }
    .marker-popup .mapboxgl-popup-content {
        border-radius: 0px !important;
        height: 100%;
        padding: 10px 10px 15px;
        opacity: 1 !important;
        overflow: auto;
        border-radius: 0px !important;
    }
    .mapboxgl-popup-content::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }
    .mapboxgl-popup-content::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    .mapboxgl-popup-content::-webkit-scrollbar-thumb {
        background: #5c9999;
        border-radius: 10px;
    }
    .mapboxgl-popup-content::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1; 
    }
    .popup-content {
        max-height: inherit !important;
    }
    .chat-box {
        border-radius: 0px !important;
    }
    .marker-popup .chat-message-block {
        line-height: auto;
    }
    .popup-img-container {
        height: 200px !important;
    }
    .popup-img {
        border-radius: 0px !important;
    }
    
    #showReviews {
        display: none;
    }
    .chat-box {
        visibility: visible !important;
        height: 120px;
    }

}