.mk-card {
    background-color: #fff;
}
.mk-data {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mk-top {
    display: flex;
    gap: 10px;
}
.mk-photo {
    height: 200px;
    width: 100%;
}
.mk-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mk-top-text {
    display: flex;
    flex-direction: column;
}
.mk-title {
    font-weight: bold;
}