
@media only screen and (min-width: 1200px) {
    .mk-card {
        display: flex;
        flex-direction: row !important;
        height: 200px !important;
    }
    .mk-photo {
        width: 50% !important;
        min-width: 50%;
        height: 200px;
        padding: 0px 10px 0px 0px;
    }
}

.mk-card {
    background-color: #fff;
}
.mk-data {
    padding: 10px;
    display: flex;
    height: unset;
    overflow: auto;
    flex-direction: column;
    gap: 10px;
}
.mk-top {
    display: flex;
    gap: 10px;
}
.mk-photo {
    height: 200px;
    width: 100%;
}
.mk-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mk-title {
    font-weight: bold;
    display: inline;
}

.mk-thumbnail {
    transition: opacity 1s;
    cursor: pointer;
}
.mk-thumbnail:hover {
    opacity: 0.8;
}
.mk-data::-webkit-scrollbar, .summary-checkpoint::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.mk-data::-webkit-scrollbar-track, .summary-checkpoint::-webkit-scrollbar-track {
    border-radius: 10px;
}
.mk-data::-webkit-scrollbar-thumb, .summary-checkpoint::-webkit-scrollbar-thumb {
    background: #5c9999;
    border-radius: 10px;
}
.mk-data::-webkit-scrollbar-thumb:hover, .summary-checkpoint::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; 
}

.mk-activities-container {
    background-color: #fff;
    flex-direction: column;
    gap: 10px;
    display: flex;
    padding: 10px 40px;
}
.mk-activities-container .acsm-container {
    border-top: 1px dotted #bbbbbb;
}

.fav-card {
    display: flex;
    flex-direction: column;
}
.fav-card .mk-card {
    flex-grow: 3;
}
.fav-card .mk-data {
    flex-grow: 3;
}