.posts-container {
    overflow: auto;
    padding-top: 0;
    margin-top: -1px;
}
.posts-container-board {
    max-height: 250px;
}
.post-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px 10px 0px;
    border-top: 1px dotted;
    margin-top: -1px;
    word-wrap: break-word;
}
.post-top {
    display: flex;
    gap: 20px;
}
.post-datetime {
    font-style: italic;
}
.post-title {
    font-weight: bold;
}
.post-type {
    color: #fff;
    font-weight: bold;
}
.post-type > div {
    padding: 0px 12px;
    border-radius: 10px;
}
.post-type .general {
    background: #00e06e;
}
.post-type .dev {
    background: #ff5555;
}
.post-content {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .adm-posts-form {
        flex-direction: column;
    }
    .post-top {
        display: block;
    }
    .post-title {
        display: block !important;
    }
    .post-top > div {
        display: inline-block;
    }
}

.adm-posts-form {
    display: flex;
    gap: 20px;
}

.adm-posts-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adm-posts-content {
    width: 100%;
}

.adm-posts-button {
    margin-top: auto;
}