.pf-header {
    background-color: #c1e3e9;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 5px;
}

.pf-general-infos {
    display: flex;
    gap: 20px;
}
#userLocationString {
    display: inline;
}

.pf-map-popup {
    background-color: white;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    position: relative;
    text-align: center;
    top: 20px;
    left: 20px;
    border-radius: 10px;
}
#pickMap {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
}
#pickMap .mapboxgl-canvas {
    cursor: crosshair;
}

.pf-photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}
.pf-photo {
    width: 160px;
    flex-grow: 2;
    height: auto;
    max-height: 120px;
    border-radius: 5px;
    overflow: hidden;
}
.pf-photo:hover {
    opacity: 0.8;
}
.pf-photo img {
    height: 100%;
    max-height: inherit;
    width: 100%;
    object-fit: cover;
}

.propic-friends {
	outline: 4px solid pink;
	border-radius: 99px;
}

.pf-bike-container {
	display: flex;
    padding: 10px;
    background-color: #ebf1f1;
    gap: 10px;
}
.pf-bike-row {
    display: flex;
    gap: 6px;
}
.pf-bike-row input, .pf-bike-row select, .pf-bike-row textarea {
    width: 100px;
    flex-grow: 1;
}
.pf-bike-column {
    display: flex;
    width: 100%;
    max-width: inherit;
    gap: 6px;
    align-items: center;
}
.pf-bike-infos-container {
    display: flex;
    flex-flow: column;
}
.pf-bike-image-container {
    height: 200px;
    width: 300px;
}
.pf-bike-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
	border: 3px solid #fff;
	background-color: white;
	cursor: pointer;
}
.pf-bike-image:hover {
	opacity: 0.8;
}
.bike-displayed {
    display: inherit !important;
}

.pf-columns-container {
    display: flex;
    gap: 20px;
}

.pf-column {
    width: 50%;
}

@media only screen and (max-width: 992px) {
    .pf-bike-container {
        flex-direction: column;
        gap: 0px;
    }
    .pf-bike-row {
        flex-direction: column;
        gap: 0px;
    }
    .pf-bike-image-container {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .pf-general-infos {
        flex-direction: column;
    }
    .pf-columns-container {
        flex-direction: column;
    }
    .pf-column {
        width: 100%;
    }
}

.profile-title-block {
    padding: 20px 40px;
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    column-gap: 6px;
    gap: 10px;
    flex-wrap: wrap;
}