.pf-header {
    background-color: #c1e3e9;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 5px;
}

.pf-general-infos {
    display: flex;
    gap: 20px;
}

.pf-photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}
.pf-photo {
    width: 160px;
    flex-grow: 2;
    height: auto;
    max-height: 120px;
    border-radius: 5px;
    overflow: hidden;
}
.pf-photo:hover {
    opacity: 0.8;
}
.pf-photo img {
    height: 100%;
    max-height: inherit;
    width: 100%;
    object-fit: cover;
}

.propic-friends {
	outline: 4px solid pink;
	border-radius: 99px;
}

.pf-bike-container {
	display: flex;
    padding: 10px;
    background-color: #ebf1f1;
    gap: 10px;
}
.pf-bike-infos-container {
    display: flex;
    flex-flow: column;
}
.pf-bike-image-container {
	height: 200px;
}
.pf-bike-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
	border: 3px solid #fff;
	background-color: white;
	cursor: pointer;
}
.pf-bike-image:hover {
	opacity: 0.8;
}
.bike-displayed {
    display: inherit !important;
}

.pf-columns-container {
    display: flex;
    gap: 20px;
}

.pf-column {
    width: 50%;
}

@media only screen and (max-width: 576px) {
    .pf-general-infos {
        flex-direction: column;
    }
    .pf-columns-container {
        flex-direction: column;
    }
    .pf-column {
        width: 100%;
    }
}

.profile-title-block {
    padding: 20px 40px;
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    column-gap: 6px;
    gap: 10px;
    flex-wrap: wrap;
}

.cleared-counter {
    margin-bottom: 0.5rem;
}

.cleared-segment {
    position: relative;
    border-bottom: 1px dashed #f0f0f0;
    padding: 10px;
}
.cleared-segment .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.cleared-segment .inside {
    position: relative;
    display: flex;
    gap: 10px;
    pointer-events: none;
    z-index: 1;
}
.cleared-segment .inside a {
    pointer-events: all;
}
.cleared-segment:hover {
    background-color: #f9f9f9;
}
.cleared-segment-thumbnail {
    height: 80px;
    width: 150px;
}
.cleared-segment-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: left;
}
.cleared-segment-activity-date {
    color: #bbbbbb;
}
.cleared-segment-activity-title {
    display: inline;
}
.cleared-segment-name {
    font-weight: bold;
}
.cleared-segment-block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 3px;
}
.cleared-segment-prefecture-block {
    padding: 10px;
    background-color: #bbb;
    color: #fff;
}