

.rd-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rd-card {
    border-radius: 10px;
    overflow: hidden;
}
.rd-card:hover {
    box-shadow: 1px 1px 8px #bbb;
}

.rd-top-container {
    height: 240px;
    display: flex;
}

.rd-image {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: baseline;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.rd-image > div {
    text-shadow: 1px 1px 3px black;
}

.rd-ride-title {
    font-family: Yu Mincho;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.rd-ride-date {
    color: white;
}

.rd-route-thumbnail {
    width: 400px;
    object-fit: cover;
}

.rd-bottom-container {
    display: flex;
}

.rd-section-address {
    display: flex;
    gap: 10px;
}

.rd-details {
    background-color: #fff;
    width: 100%;
    padding: 20px !important;
    line-height: 1.2;
}

.rd-distance {
    display: flex;
    gap: 20px;
}

.rd-checkpoints {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
}
.rd-checkpoint {
    position: relative;
    width: 100px;
    min-width: 100px;
    font-size: 14px;
}
.rd-checkpoint.arrow::after {
    content: '';
    clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
    background-color: #bbb;
    height: 60px;
    width: 10px;
    position: absolute;
    bottom: 0px;
    right: -15px;
}
.rd-cpt-details {
    margin: 5px 0px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rd-cpt-header {
    display: flex;
    gap: 5px;
}
.rd-cpt-number {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 16px;
    height: 16px;
    text-align: center;
}
.rd-cpt-distance {
    display: inline;
}
.rd-cpt-name {
    display: inline;
}
.rd-cpt-thumbnail {
    height: 60px;
}
.rd-cpt-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rd-section-organization {
    display: flex;
    min-width: 400px;
    flex-direction: column;
}
.rd-section-organizer {
    min-width: 200px;
    display: flex;
    flex-grow: 3;
    gap: 10px;
    background-color: #f2f2f2;
}
.rd-section-entry {
    min-width: 200px;
    flex-grow: 4;
    display: flex;
}

.rd-details, .rd-section-organizer, .rd-section-entry {
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .rd-route-thumbnail {
        display: none;
    }
    .rd-checkpoints {
        column-gap: 40px;
    }
    .rd-checkpoint {
        width: auto !important;
        min-width: unset;
    }
    .rd-cpt-details {
        display: inline-block;
        margin: 5px 0px 0px 0px;
        white-space: unset;
    }
    .rd-cpt-thumbnail {
        display: none;
    }
    .rd-checkpoint.arrow::after {
        height: 20px;
        right: -25px;
    }
}

@media only screen and (max-width: 1200px) {
    .rd-bottom-container {
        flex-wrap: wrap;
    }
    .rd-section-organization {
        min-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.my-rd-card {
    display: flex;
    margin: 10px 0px;
    gap: 20px;
    position: relative;
    background-color: #fff;
}

.my-rd-thumbnail {
    background-color: #ccc;
    height: 140px;
    width: 400px;
    background-size: cover;
    background-position: center;
}

.my-rd-header {
    position: relative;
    top: 20px;
    margin: 0px 20px;
    width: calc(100% - 40px);
}

.my-rd-status {
    width: fit-content;
    margin-bottom: 5px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}

.my-rd-details {
    padding: 10px 0px;
}

@media only screen and (max-width: 992px) {
    .my-rd-card {
        font-size: smaller;
    }
    .my-rd-thumbnail {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .my-rd-card {
        flex-direction: column;
        gap: unset;
        margin: 20px 0px;
    }
    .my-rd-thumbnail {
        width: 100%;
    }
    .my-rd-details {
        padding: 10px;
    }
}