.rdr-card {
    min-height: 100px;
	margin: 10px 0px;
}
.rdr-card:hover {
	box-shadow: 2px 2px 5px darkgrey;
}

.rdr-card-inner {
	padding: 10px;
	display: flex;
	gap: 20px;
}

.rdr-card-main {
    display: flex;
    gap: 10px;
}

.rdr-card-top {
    display: flex;
    gap: 10px;
}

/* Left container */

.rdr-container-left {
    display: flex;
    gap: 5px;
    flex-flow: column;
}

.rdr-login-section {
    padding: 0px 10px;
    border-radius: 4px;
    width: fit-content;
    display: inline-block;
    font-weight: bold;
    background-color: white;
}

.rdr-gender {
	font-weight: bold;
    display: inline;
    padding-right: 6px;
}
.rdr-name {
    display: inline-block;
}

.rdr-login {
	display: inline;
    word-break: break-word;
	font-size: 30px;
	font-family: gaegu;
	font-weight: bold;
    line-height: 0.7em;
}

.rdr-maininfos-section {
    display: flex;
    align-items: center;
    gap: 30px;
}


.small-rdr-cards-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 400px;
    gap: 10px;
}
.small-rdr-card {
    padding: 10px;
    display: flex;
}
.small-rdr-sub {
    display: flex;
    gap: 10px;
}


@media only screen and (min-width: 1200px) {
    .small-rdr-cards-container {
        display: grid !important;
        grid-template-columns: 48% 48%;
        column-gap: 10px;
    }
}

/* Buttons */

.rdr-container-buttons {
	margin-left: auto;
    text-align: right;
    align-items: center;
    min-width: fit-content;
    display: flex;
    gap: 6px;
}

.rdr-button {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    font-weight: bold;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    padding: 3px !important;
    background-color: #5C9999;
}

.no-click {
    cursor: default !important;
}

@media only screen and (max-width: 992px) {
    .rdr-card-inner {
        flex-direction: column;
    }
    .rdr-card-inner > * {
        flex-direction: row;
    }
    .rdr-container-buttons {
        gap: 5px;
        text-align: unset;
        min-width: unset;
    }
    .rdr-card {
        height: unset;
    }
    .rdr-maininfos-section {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .rdr-card-main, .small-rdr-card {
        flex-direction: column;
    }
}

#neighboursMapContainer {
    position: sticky;
    top: 0;
}
.nbr-marker {
    height: 15px;
    width: 15px;
}
.nbr-marker img {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-size: cover;
    cursor: pointer;
}

.nbr-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: -1;
}
.nbr-card:hover {
	box-shadow: 3px 0px 3px grey; 
}
.nbr-card .rdr-card {
    border-radius: unset;
    margin: 0px;
}
.nbr-card .rdr-card:hover {
	box-shadow: none;
}
.nbr-infos {
    padding: 10px 20px;
    background-color: #f9f9f9;
}
.nbr-distance, .nbr-city {
    display: inline;
}

.nbr-marker.hover > img {
    box-shadow: 0 0 1px 3px #00e06e;
}
.nbr-card.hover {
    box-shadow: 0 0 1px 1px #00e06e;
}

.popup-content.nbr .popup-properties-location {
    display: inline;
}