h3 {
    font-size: 24px;
    padding: 6px 18px;
    border-bottom: 1px solid #5c9998;
}

.rd-header {
    margin-bottom: 0px !important;
    background-color: #555555 !important;
    min-height: 350px;
    height: fit-content;
    color: white;
    background-size: cover !important;
    background-position: center !important;
}

.ride-infos a {
    word-break: break-all;
}

.mySlides.rd-slide {
    height: 70% !important;
}

#participantsWindow .small-rdr-cards-container {
    background-color: #fff;
}
#participantsWindow .small-rdr-cards-container .small-rdr-card {
    background-color: #c1e3e9 
}

.guide-card {
    display: flex;
    gap: 20px;
    padding: 12px;
}
.guide-identity * {
    display: inline;
}
.guide-description {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Course */

.rd-course-map-container {
	position: relative;
}
.rd-course-map {
    position: absolute !important;
    height: 400px;
    width: calc(100% + 80px);
    top: 0px;
    left: -40px;
}
.newpickmap-controller {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: calc(10px - 400px);
    right: calc(10px - 40px);
    padding: 6px 10px;
}
.newpickmap-controller-label {
    position: absolute;
    top: 10px;
    left: -30px;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    cursor: default;
}
.newpickmap-controller-label #edit, .newpickmap-controller-label #set{
    color: white;
}
.newpickmap-controller-label.mouseover {
	background-color: white;
    padding: 3px 8px;
} 
.mouseover, .mouseover #edit, .mouseover #set {
	color: black;
    transition: color 0.5s, background-color 0.5s;
}
.mouseover ul {
    padding: 0px 20px;
    margin: 0px;
}
.mouseover li {
    margin: 0px;
}
.newpickmap-container .newpickmap-controller-label {
	transition: visibility 0.5s, color 0.5s, background-color 0.5s;
}
.blue-twinkle {
	animation: bluetwinkle 1s;
}
@keyframes bluetwinkle {
	0% {
    	color: #bbbbff;
	}
	100% {
		color: white;
	}
}
.red-twinkle {
	animation: redtwinkle 1s;
}
@keyframes redtwinkle {
	0% {
		color: #ffbbbb;
	}
	100% {
		color: white;
	}
}
.newpickmap-controller-button {
    background-color: white;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    font-size: 12px;
    cursor: pointer;
}
.newpickmap-controller-checkbox {
    background-color: white;
    padding: 5px 15px;
    font-weight: bold;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
}
.newpickmap-controller-button:hover {
	background-color: #f2f2f2;
}
.mapboxgl-popup-content {
    padding: 0px !important;
}
.checkpointMarkerForm {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 10px 15px;
}
.checkpointMarkerForm input[type="file" i] {
    display: none;
}
.checkpointMarkerForm #name {
    width: 100%;
}
.checkpointMarkerForm #description {
    width: 100%;
}
.checkpointMarkerForm label {
    color: grey;
    cursor: pointer;
}
.checkpointMarkerForm label:hover {
    color: black;
}
.checkpoint-popup-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 100%;
}
.checkpoint-popup-img-container {
    height: 100px;
    width: 100%;
    position: relative;
}
.checkpoint-popup-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.checkpoint-popup-img-error {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.rd-course-fields {
	padding-top: 420px;
}
.rd-automatic-field {
    display: inline;
}
.rd-course-profile {
    height: 15vh !important;
    background-color: white !important;
    position: absolute !important;
    width: calc(100% + 80px) !important;
    top: 400px;
    left: -40px;
    display: none;
}
.rd-course-thumbnail {
    float: right;
    width: 60%;
    max-width: 800px;
    margin: 0 0 12px 12px;
}
.rd-course-thumbnail img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    opacity: 1;
    transition: 0.5s opacity;
    z-index: 2;
}
.rd-course-thumbnail a {
    display: flex;
    font-weight: bold;
    color: white;
    position: relative;
    width: 100%;
    height: inherit;
    transition: 2s opacity;
}
.rd-course-thumbnail a::after {
    content: "詳細はこちら";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c9999;
    opacity: 1;
}
.rd-course-thumbnail img:hover {
    opacity: 0;
}
@media only screen and (max-width: 992px) {
    .rd-course-thumbnail {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}


/* Summary */

.ride-header {
    position: relative;
    background-color: #555555 !important;
    min-height: 350px;
    height: fit-content;
    color: white;
    background-size: cover !important;
    background-position: center !important;
}
.summary-checkpoints {
    gap: 10px;
    overflow: auto;
    margin: 20px;
    padding-bottom: 10px;
    background-color: #ebf1f100;
    display: flex;
    margin-bottom: 8px;
}
.summary-checkpoint {
    background-color: #f9f9f9;
    display: flex;
    padding: 10px;
    min-width: 240px;
    overflow: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.summary-checkpoint-image {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.summary-checkpoint-number {
    position: absolute;
    height: 25px;
    width: 25px;
    line-height: 23px;
    left: 10px;
    top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 99px;
    text-shadow: 0 0 3px black;
}
.summary-checkpoint-tag {
    position: absolute;
    padding: 0px 5px;
    line-height: 23px;
    left: 10px;
    top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px black;
}
.tag-start {
    background-color: #00e06e;
}
.tag-goal {
    background-color: #ff5555;
}
.summary-checkpoint-name {
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding: 0px 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}
.summary-checkpoint-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.summary-checkpoint-image img:hover {
    opacity: 90%;
}
.photo-selected {
    outline: 3px solid yellow !important;
}
.summary-checkpoint-description {
    max-height: 100px;
    width: 100%;
    padding-top: 6px;
}
.summary-checkpoint-description p {
    padding: 0px 4px 10px 4px;
    text-align: justify;
}
.summary-checkpoints > svg {
    height: 120px;
    min-width: 10px;
    fill: #5c9999;
}
.summary-checkpoints img {
    border-radius: 0px !important;
}


/* width */
.summary-checkpoints::-webkit-scrollbar, .summary-checkpoint::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
  
/* Track */
.summary-checkpoints::-webkit-scrollbar-track, .summary-checkpoint::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.summary-checkpoints::-webkit-scrollbar-thumb, .summary-checkpoint::-webkit-scrollbar-thumb {
    background: #5c9999;
    border-radius: 10px;
}

/* Handle on hover */
.summary-checkpoints::-webkit-scrollbar-thumb:hover, .summary-checkpoint::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; 
}

/* Admin page */

.rd-ad-navbar {
    background-color: #fffddd !important;
    padding: 0 !important;
    position: sticky !important;
    top: 80px;
    box-shadow: 0px 2px 2px #ddd;
}
.rd-ad-navbar .navbar-collapse.show > .navbar-nav, .rd-ad-navbar .navbar-collapse.collapsing > .navbar-nav {
    background-color: #fff;
}
.rd-ad-navbar li {
    color: #fff;
    margin: 0;
}
.rd-ad-navbar li:hover {
    background-color: #eee;
}
.rd-ad-main {
    display: flex;
    flex-direction: column;
}
.rd-ad-container {
    flex-grow: 1;
}
.rd-ad-section {
    padding: 10px 0px;
    margin: 20px 0px;
}

.rd-ad-entry-table {
    width: 100%;
    min-width: 600px;
}
.rd-ad-entry-table th {
    background-color: #5c9999;
    border: 1px solid #5c9999;
    padding: 6px;
    color: #fff;
    text-align: center;
}
.rd-ad-entry-table td {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0px 6px;
}

.rd-ad-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rd-ad-form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 4px 8px;
}
.rd-ad-form-prefix {
    display: inline;
    padding-right: 6px;
    font-weight: bold;
}
.rd-ad-form-type {
    width: 100px;
}
.rd-ad-form-question {
    flex-grow: 1;
}
.rd-ad-form-option {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.rd-ad-form form {
    margin: 0;
}
.rd-ad-options-label {
    width: 100px;
    text-align: right;
    padding: 0px 20px;
}
.rd-ad-options-input {
    width: 100%;
}

.rd-ad-report-section {
    padding: 15px;
    background-color: #fff;
}



.rd-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rd-card {
    overflow: hidden;
}
.rd-card:hover {
    box-shadow: 1px 1px 8px #bbb;
}

.rd-top-container {
    height: 180px;
    display: flex;
}

.rd-image {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: baseline;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.rd-image > div {
    text-shadow: 1px 1px 3px black;
}

.rd-ride-title {
    font-family: Yu Mincho;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.rd-ride-date {
    color: white;
}

.rd-route-thumbnail {
    width: 400px;
    object-fit: cover;
}

.rd-bottom-container {
    display: flex;
    font-size: 14px;
}

.rd-section-address {
    display: flex;
    gap: 10px;
}

.rd-details {
    background-color: #fff;
    width: 100%;
    padding: 12px !important;
    line-height: 1.2;
}

.rd-distance {
    display: flex;
    gap: 20px;
}

.rd-checkpoints {
    padding-top: 6px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
}
.rd-checkpoint {
    position: relative;
    width: 100px;
    min-width: 100px;
    font-size: 14px;
}
.rd-checkpoint.arrow::after {
    content: '';
    clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
    background-color: #bbb;
    height: 60px;
    width: 10px;
    position: absolute;
    bottom: 0px;
    right: -15px;
}
.rd-cpt-details {
    margin: 5px 0px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rd-cpt-number {
    background-color: #000;
    margin-right: 6px;
    color: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 16px;
    height: 16px;
    text-align: center;
}
.rd-cpt-distance {
    font-size: 12px;
    position: absolute;
    bottom: 6;
    left: 6;
    color: #fff;
}
.rd-cpt-thumbnail {
    height: 60px;
}
.rd-cpt-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rd-section-organization {
    display: flex;
    min-width: 400px;
    flex-direction: column;
}
.rd-section-organizer {
    min-width: 200px;
    display: flex;
    flex-grow: 3;
    gap: 10px;
    background-color: #f2f2f2;
}
.rd-section-entry {
    min-width: 200px;
    flex-grow: 4;
    display: flex;
}

.rd-details, .rd-section-organizer, .rd-section-entry {
    padding: 10px;
}

.rd-status-green {
    background-color: #00e06e;
    color: #000;
}
.rd-status-red {
    background-color: #ff5555;
    color: #000;
}
.rd-status-blue {
    background-color: #bbbbff;
    color: #000;
}
.rd-status-black {
    background-color: #444;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .rd-route-thumbnail {
        display: none;
    }
    .rd-checkpoints {
        column-gap: 40px;
    }
    .rd-checkpoint {
        width: auto !important;
        min-width: unset;
    }
    .rd-cpt-details {
        display: inline-block;
        margin: 5px 0px 0px 0px;
        white-space: unset;
    }
    .rd-cpt-thumbnail {
        display: none;
    }
    .rd-checkpoint.arrow::after {
        height: 20px;
        right: -25px;
    }
}

@media only screen and (max-width: 1200px) {
    .rd-bottom-container {
        flex-wrap: wrap;
    }
    .rd-section-organization {
        min-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.my-rd-card {
    display: flex;
    margin: 10px 0px;
    gap: 20px;
    position: relative;
    background-color: #fff;
}

.my-rd-thumbnail {
    background-color: #ccc;
    height: 140px;
    width: 400px;
    background-size: cover;
    background-position: center;
}

.my-rd-header {
    position: relative;
    top: 20px;
    margin: 0px 20px;
    width: calc(100% - 40px);
}

.my-rd-status {
    width: fit-content;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}

.my-rd-details {
    padding: 10px 0px;
}

@media only screen and (max-width: 992px) {
    .my-rd-card {
        font-size: smaller;
    }
    .my-rd-thumbnail {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .my-rd-card {
        flex-direction: column;
        gap: unset;
        margin: 20px 0px;
    }
    .my-rd-thumbnail {
        width: 100%;
    }
    .my-rd-details {
        padding: 10px;
    }
}

/* Calendar */

.rd-calendar {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto 50px 28px 70px repeat(5, auto);
    text-align: center;
    grid-gap: 16px 0px;
}
.rd-cd-hr {
    grid-column-start: 1;
    grid-column-end: 10;
    display: grid;
    height: 1px;
}
.rd-cd-th {
    font-weight: bold;
}
.rd-cd-th-double {
    grid-area: auto / span 2;
}
.rd-cd-td {
    display: grid;
    align-items: center;
}
.rd-cd-td img {
    place-self: center;
}
.cd-status {
    border-radius: 3px;
}
.cd-year {
    text-align: right;
}
.cd-day {
    text-align: left;
}
.cd-title {
    color: #fff !important;
    font-weight: bold;
    background-color: #001c1c;
    padding: 10px;
}
.cd-title:hover {
    background-color: #000;
}
.cd-guides {
    display: inline;
    font-size: 12px;
}
.cd-guides-label {
    display: none;
    font-size: 12px;
}

@media only screen and (max-width: 992px) {
    .rd-cd-td {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .rd-calendar {
        grid-gap: 8px 0px;
    }
    .rd-cd-th, .rd-cd-hr {
        display: none;
    }
    .rd-cd-td:nth-child(9n +1) {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .rd-cd-td {
        font-size: inherit;
    }
    .cd-status {
        grid-column: span 6;
        max-width: 120px;
    }
    .cd-title {
        font-size: inherit;
    }
    .cd-year {
        grid-column: span 1;
        text-align: right;
    }
    .cd-month {
        grid-column: span 1;
    }
    .cd-year::after, .cd-month::after {
        content: ".";
        display: contents;
    }
    .cd-day {
        grid-column: span 1;
        text-align: left;
    }
    .cd-title {
        grid-column: span 9;
        position: relative;
        font-size: inherit;
        text-shadow: 0 0 6px black;
        height: 160px;
    }
    .cd-place {
        grid-column: span 7;
    }
    .cd-distance {
        grid-column: span 1;
    }
    .cd-terrain {
        grid-column: span 1;
    }
    .cd-guides {
        grid-column: span 9;
    }    
    .cd-guides-label {
        display: inline;
    }
    
    .cd-title.with-img::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: inherit;
        background-size: cover;
        background-image: var(--bg-image);
    }
    .cd-title-text {
        z-index: 1;
        align-self: start;
    }
}