.settings {
    display: flex;
    background-color: #fff;
}

.settings h2 {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.stg-sidebar {
    position: relative;
    width: 350px;
    padding: 20px;
}
.stg-sidebar::after {
    content: '';
    height: 80%;
    width: 0.5px;
    margin: auto;
    position: absolute;
    right: 0;
    display: flex;
    top: 10%;
    background-color: #ccc;
}

.stg-title-card {
    cursor: pointer;
    padding: 10px;
    color: #111;
}
.stg-title-card:hover {
    background-color: #5c9999;
    border-radius: 99px;
    transition: 0.3s background-color, color;
    color: #fff;
}

.stg-title::after {
    content: '\25BC';
    padding-left: 6px;
    font-size: 10px;
}

.stg-sidebar .active {
    color: #ff5555;
}

.card-body li {
    cursor: pointer;
    padding: 6px;
    margin: 0;
    display: block;
}
.card-body li::before {
    content: '-';
    padding: 6px;
}
.card-body li:hover {
    transition: 0.3s background-color;
    background-color: #fff;
}

.stg-board {
    margin: 0;
    background-color: #fff;
}

.stg-board input[type=checkbox] {
    margin: 0px 12px;
}

@media only screen and (max-width: 992px) {
    .settings {
        flex-direction: column;
    }
    .stg-sidebar {
        width: 100%;
    }
}