@font-face {
	font-family: 'Noto Sans';
	src: url(/assets/fonts/NotoSans-Regular.ttf);
}
@font-face {
	font-family: 'Gaegu';
	src: url(/assets/fonts/Gaegu-Regular.ttf);
}
@font-face {
	font-family: 'Dr Sugiyama';
	src: url(/assets/fonts/DrSugiyama-Regular.ttf);
}


/*
--- General styles ---
*/

body {
	font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(#f9f9f9, #cfd5d5) !important;
	height: 100vh;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed !important;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100% - 80px);
}

p, h3, h4, h5, h6, li {
	font-family: 'Noto Sans', sans-serif;
	margin-bottom: 0.5rem;
}

h1 {
	font-family: 'Dr Sugiyama', 'Yu Mincho', cursive;
	font-weight: 700;
}

h2, h3 {
	font-family: 'Gaegu', '游ゴシック', cursive;
	font-weight: 700;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-weight: bold;
	font-size: 18px;
}

h5 {
	font-weight: bold;
	font-size: 16px;
}

.top-title {
	text-align: center;
    padding: 20px 0px;
    margin: 0;
}

legend {
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
    font-size: 16px;
    line-height: 0;
    padding-bottom: 20px;
}

a {
	color: #5C9999;
	text-decoration: none;
}
a:visited, a:target, a:active {
	color: #00e06e;
}
a:hover {
	color: pink;
}

input[type="checkbox"] {
    accent-color: #5c9999;
}

/* Footer */

.footer {
    background-color: #fff;
    text-align: right;
    border-top: 4px solid;
    border-image: linear-gradient(0deg, #eeeeeeff, #f9f9f9) 100;
}
.footer .container {
    background-color: #fff;
}
.footer-logo {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.footer-brand {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    font-family: Dr sugiyama;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.footer > div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

/* Font */

.red{
	color: #c00000;
}

.blue{
	color: #0000c0;
}

.green{
	color: #006000;
}

.marker {
	display: contents;
	font-weight: bold;
}

/* Single page */

.header {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.header-buttons {
    margin-left: auto;
}
@media only screen and (max-width: 768px) {
    .header {
        justify-content: center;
        gap: 10px;
        column-gap: 10px;
    }
    .header-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: unset;
    }
    .header-buttons .btn {
        width: 100%;
    }
}

.specs {
    display: flex;
    margin: 20px;
    gap: 20px;
}
.spec-column {
    flex-grow: 3;
}
@media only screen and (max-width: 768px) {
    .specs {
        flex-direction: column;
        gap: 10px;
    }
}

/* Images */

img.site-logo {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 4%;
    z-index: -2;
}

.round-propic-container {
    height: 60px;
    width: 60px;
    min-width: 60px;
}

.round-propic-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
}
.round-propic-img:hover {
	opacity: 0.8;
}
.round-propic-img:active {
	background-color: black;
}

.free-propic-container {
    display: inline-grid;
}

.free-propic-img {
	width: 100%;
    height: inherit;
    object-fit: cover;
	cursor: pointer;
}
.free-propic-img:hover {
	box-shadow: -2px 2px 6px black;
}
.free-propic-img:active {
    box-shadow: -1px 1px 1px black;
}


.image-modify-container {
    position: relative;
	width: 100%;
}

.image-modify {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
	filter: drop-shadow(1px 1px 4px rgb(0 0 0 / 0.3));
	cursor: pointer;
}

.bike-image-buttons {
    position: relative;
    height: fit-content;
}

.image-icon-container {
	display: flex;
    justify-content: right;
    position: relative;
    right: 15px;
    bottom: 40px;
    gap: 6px;
}

.image-icon {
    color: white;
	filter: drop-shadow(1px 1px 4px rgb(0 0 0 / 0.3));
	cursor: pointer;
}

.terrain-icon {
    object-fit: cover;
    object-position: 0% 80%;
    height: 1em;
    width: 40px;
    align-self: self-start;
    border: 1px dashed;
}

.gallery-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.square-gallery-container {
    height: 150px;
    width: 200px;
}

.button-with-background {
	background-position: center;
	background-size: cover;
	text-shadow: 2px 2px 4px black;
	border: 1px solid #5C9999 !important;
}
.button-with-background:hover {
	color: #bafffc;
}

.superpose {
	width: 20px;
}

.connection-page {
    padding-bottom: 15vh;
}

.connection-container {
    border-radius: 10px;
    background-color: #ffffff00 !important;
	border-color: white;
}

.connection-container input {
    background-color: #ffffff80;
}

.staticmap {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
--- General bootstrap styles ---
*/

.container {
    background-color: #f9f9f9;
	padding: 20px 40px;
}

.container-transparent {
	padding: 0px 40px;
	background-color: #00000000;
}

@media only screen and (max-width: 768px) {
	.container, .container-transparent {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.inline-container {
	display: inline;
    background-color: #f9f9f9;
	padding: 20px 30px;
	margin: 0px 10px;
}

.bg-lightgrey {
	background-color: #f9f9f9 !important;
}

.bg-button {
	background-color: #5C9999 !important;
}

.bg-grey {
	background-color: #eee !important;
}
.bg-grey-2 {
	background-color: #eeeeee77 !important;
}
.bg-grey-3 {
	background-color: #eeeeee33 !important;
}

.bg-participant {
	background-color: #d0f8c3 !important
}

.bg-admin {
    background-color: #fffa9c !important;
}

.bg-user {
	background-color: #c1e3e9 !important;
}

.bg-friend {
	background-color: #ffe6ee !important;
}

.bg-rider {
    background-color: #f2f2f2 !important;
}

.bg-darkgreen {
	background-color: #00e06e !important;
}

.bg-darkred {
	background-color: #ff5555 !important;
}

.bg-green {
    background-color: #d1e4be !important;
}
.bg-green-2 {
    background-color: #d1e4be77 !important;
}
.bg-green-3 {
    background-color: #d1e4be33 !important;
}

.bg-yellow {
    background-color: #f4f09d !important;
}
.bg-yellow-2 {
    background-color: #f4f09d77 !important;
}
.bg-yellow-3 {
    background-color: #f4f09d33 !important;
}

.bg-blue {
    background-color: #c1e3e9 !important;
}
.bg-blue-2 {
    background-color: #c1e3e977 !important;
}
.bg-blue-3 {
    background-color: #c1e3e933 !important;
}

.bg-pink {
    background-color: #f6b9cd !important;
}
.bg-pink-2 {
    background-color: #f6b9cd77 !important;
}
.bg-pink-3 {
    background-color: #f6b9cd33 !important;
}

.bg-transparent {
    background-color: #00000000;
}

.admin-field {
    border: 3px solid #fffa9c;
}

.nav {
	align-items: center;
}

@media only screen and (max-width: 768px) {
    .container-shrink .container, .container-shrink .container-fluid {
        max-width: unset;
        margin: unset;
    }
}

/* Navbar */

.main-navbar  {
    position: sticky;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    z-index: 7;
}

nav {
    z-index: 4;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 0px 20px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav button {
	float: right;
}

nav .navbar-brand {
	font-family: 'Dr sugiyama', cursive;
	font-weight: bold;
	font-size: x-large;
	padding: 0px 30px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
@media only screen and (max-width: 560px) {
	nav .navbar-brand { 
		padding: 0px 10px;
		margin: 0px;
		font-size: medium;
	}
    nav .navbar-brand.f {
        font-size: large;
    }
}
nav .navbar-brand.f {
    font-size: xx-large;
}

.navbar a, .navbar a:target, .navbar a:active {
    text-decoration: none;
    color: #777777;
}

li.nav-item {
    padding: 0px 20px;
}

.nav-dropdown-link {
    display: inline-flex;
}
.nav-dropdown-toggle {
    display: inline-flex;
    vertical-align: middle;
    padding-left: 0px !important;
}

.push {
	margin-left: auto !important;
}

.navbar-toggler {
    margin: auto;
}

.nav-link {	
    display: inline-flex;
    vertical-align: middle;
    padding-left: 0px !important;
}

.main-navbar .navbar-collapse.show, .main-navbar .navbar-collapse.collapsing {
    position: absolute;
    top: 80px;
    width: 100%;
}

.main-navbar .navbar-collapse.show > .navbar-nav, .main-navbar .navbar-collapse.collapsing > .navbar-nav {
    background-color: #fff;
}

/* Button */

.btn {
    --bs-btn-active-bg: #5c9999dd;
    --bs-btn-hover-bg: #5c9999dd;
    --bs-btn-active-color: #fff;
    --bs-btn-hover-color: #fff;
    border: none;
}
@media only screen and (max-width: 768px) {
    .btn {
        font-weight: unset !important;
        height: fit-content !important;
    }
}

.btn-container {
	height: 45px;
}

.button {
	font-weight: bold;
	line-height: 22px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background-color: #5C9999;
    border-radius: 10px;
    min-height: 60px;
    width: 120px;
    display: inline-block;
	border: none;
	flex: auto;
}

.smallbutton {
    margin: 0px 10px;
    background-color: #5c9999;
    color: white;
}

.btnright {
	float: right;
}

.discreet-button {
    border: inherit;
    background: inherit;
    color: inherit;
}

.discreet-link {
    border: inherit;
    background: inherit;
    color: inherit;
	text-decoration: inherit;
}

.hover-blue:hover {
	color: #00abc8;
}

.hover-yellow:hover {
	color: #d2c700;
}

.danger {
    background-color: #ff5555 !important;
}

.success {
    background-color: #00e06e !important;
}

/* Page links */

.pages {
    display: flex;
    font-weight: bold;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
}

.pages-number {	
    padding: 2px 10px;
    border: 1px solid #5c9999;
    margin-bottom: 20px;
}

.pages-number-selected {
	border: none;
	background-color: #5c9999;
	color: white;
}

.pages a {
    text-decoration: none;
    color: inherit;
}

/* Dropdown */

.dropdown-menu {
    margin-top: 15px;
    border: none;
    border-radius: 0px;
}

.dropdown-item {
    color: rgba(0, 0, 0, 0.55);
}

.dropdown-item.active, .dropdown-item:active {
    --bs-dropdown-link-active-bg: #f6b9cd ;
}

/* chat */

.chat-line {
	display: flex;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.chat-line-admin {
	background-color: #fffa9c;
    padding: 10px;
}

.chat-message-block {
	margin-left: 20px;
}

.chat-time {
	display: inline;
	color: grey;
    margin-right: 3px;
}

.chat-login {
	display: inline;
	font-weight: bold;
}

.child {
	margin-left: 50px;
}

.chat-msgbox {
	display: flex;
	gap: 10px;
}

.gap {
	gap: 10px;
}

.msgbox-label {
	display: block;
	margin: 10px 0px 6px 0px;
}

/* Profile */

.social-panel label {
	min-width: 100px;
} 

.social-panel input {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.social-panel .col-6 {
		width: 100%;
	} 
	
	.social-panel {
		display: block !important;
	}
}

/*
--- Generic styles ---
*/

/* Flex */

.gap-10 {
	gap: 10px;
}

.gap-20 {
	gap: 20px;
}

.gap-30 {
	gap: 30px;
}

.justify {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

/* Table display */

.responsive-table-container {
    overflow-x: auto;
}

.sticky-th-column {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}
.sticky-th-row {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.th-row {
	font-weight: bold;
	font-size: 16px !important;
}

.tr-row {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.two-line-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.td-row {
    margin: 0px 3px;
    padding: 0px 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.table-element.e8 {
	width: 8%;
}
.table-element.e10 {
	width: 10%;
}
.table-element.e12 {
	width: 12%;
}
.table-element.e15 {
	width: 15%;
}
.table-element.e20 {
	width: 20%;
}
.table-element.e25 {
	width: 25%;
}
.table-element.e30 {
	width: 30%;
}
.table-element.e35 {
	width: 35%;
}
.table-element.e40 {
	width: 40%;
}
.table-element.e50 {
	width: 50%;
}
.table-element.e60 {
	width: 60%;
}

/* Overflow */

.overflow-250 {
    max-height: 250px;
    overflow: auto;
}

.overflow-400 {
    max-height: 400px;
    overflow: auto;
}

/* Other styles */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.text-shadow {
	text-shadow: 3px 1px 4px black;
}
.text-shadow-white {
	text-shadow: 2px 2px 2px white;
}

.box-shadow {
	box-shadow: 3px 3px 8px black;
}

.fullwidth {
	width: 100%;
}

.smallfont {
    font-size: 14px;
}
.xsmallfont {
    font-size: 10px;
}

.bold {
	font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-bottom {
	margin-bottom: 20px;
}

.flex {
	display: flex;
}

.flex-end {
	align-self: flex-end;
}

.title-with-subtitle {
	line-height: 1;
	margin-bottom: 0px;
}

.following-title {
	margin: auto 20px;
}

.tag-light {
	text-shadow: none;
    background-color: #ffffff90;
    padding: 2px 10px;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
}
.tag-dark {
	text-shadow: none;
    background-color: #dddddd;
    padding: 2px 10px;
    font-weight: bold;
    border-radius: 3px;
	display: inline-block;
}

.tag {
	display: inline-block;
    width: fit-content;
    background-color: #ffffff;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 0px 2px;
}

.tag-green {
	display: inline-block;
    width: fit-content;
    background-color: #afffaa;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 0px 2px;
}

.tag-blue {
	display: inline-block;
    width: fit-content;
    background-color: #bbbbff;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 0px 2px;
}

.tag-red {
	display: inline-block;
    width: fit-content;
    background-color: #ffbbbb;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 0px 2px;
}

.tag-lightblue {
	display: inline-block;
    width: fit-content;
    background-color: #bbffff;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 0px 2px;
}

.tag-darkblue {
	display: inline-block;
    width: fit-content;
    background-color: #6f6fff;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 0px 2px;
}

.tag-on-div {
    position: absolute;
    top: 10px;
    left: 10px;
}

.text-right {
	text-align: right;
}

.file-uploader {
	height: 60px;
}
.send-button {
    padding: 0px 20px;
	height: 100%;
	width: 100%;
}

a .social {
	color: black;
}

a.in-success:active, a.in-success:target, a.in-success:visited {
    color: pink;
}

a .twitter:hover {
	color: rgb(29, 155, 240);
}
a .facebook:hover {
	color: #1b74e4;
}
a .instagram:hover {
	color: #c40000;
}
a .strava:hover {
	color: #fc5200;
}

.popup {
    background-color: white;
    max-width: 250px;
    padding: 20px;
    position: relative;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    margin: auto;
}
.popup.medium-popup {
    max-width: 450px;
    text-align: left;
}
.popup.fullscreen-popup {
    max-width: 90%;
    left: 5%;
    top: 5%;
}

.classy-title {
    color: white;
    text-align: center;
    min-height: 1em;
    font-size: 24px;
    margin: 40px;
    font-family: Yu Mincho;
}

/* 
--- Containers ---
*/

.dashed-square {
    border: 1px dashed #5C9999;
    padding: 20px 40px;
    background-color: white;
}

.dashed-container {
    border: 1px dashed #5c9999;
}

.container-admin {
    background-color: #FFFA9C !important;
}

.container-thin {
	padding: 10px 40px;
}

.end {
    min-height: calc(100vh - 80px);
}

/* Maps */


/* 
--- Forms ---
*/

.required::after {
    content: ' *';
    color: red;
}

/* Number */

.withunit {
    display: inline-flex;
    max-width: 80%;
}

.unit {
    display: inline-flex;
    padding-left: 10px;
}

.admin-panel {
	gap: 20px;
	align-items: baseline;
}

.admin-button {
	margin-top: 9px;
    display: block;
}

/* Range */

.with-range-output {
    position: relative !important;
	padding: 0px !important;
    text-align: center;
    display: block;
}

output {
    display: block;
    text-align: center;
    padding-left: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #5C9999;
}


/* 
--- Others ---
*/

/* Animations */

.hide {
	visibility: hidden;
	transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s ease;
	max-height: 0;
}
.show {
    visibility: visible !important;
    transform: scaleY(1) !important;
	max-height: fit-content !important;
}


/* Links */

.top-link {
    margin-top: 6px;
}

.top-link a::after {
    content: ' \25BE';
}

/* Others */

.modal {
    background-color: #000000bb;
    display: none;
    position: fixed;
    z-index: 7;
    padding: 20px 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-single {
	display: block !important;
	text-align: center;
}

.modal-single-img {
	width: 95%;
	height: 95%;
	object-fit: cover;
}

.filename {
	word-wrap: break-word;
}

.page {
	padding: 30px 0px;
}

.smaller {
	max-width: 680px;
}

.inner {
	padding: 0px 40px;
}

.text-center {
	text-align:center;
}

.error-block {
    background: #ff5555;
    width: 100%;
    z-index: 5;
	padding: 20px;
}
.error-message {
    position: relative;
	margin: 0px;
	font-weight: bold;
	color: white;
}

.success-block {
    background: #00e06e;
    width: 100%;
    z-index: 5;
	padding: 20px;
}
.success-message {
    position: relative;
	margin: 0px;
	font-weight: bold;
	color: white;
}

.absolute {
    position: absolute;
    top: 0px;
}

.hidden {
	display: none !important;
}
.visible {
	display: block !important;
}

.normal {
	text-decoration: none !important;
	color: black;
}
.normal:hover {
	color: darkslategrey;
}

#js-pick, #js-import, #js-draw {
    margin-top: 20px;
}

.loading {
	position: fixed;
	color: white;
	text-shadow: 1px 1px black;
	bottom: 0px;
	z-index: 200;
}
.loading-modal {
    background-color: #00000055;
    z-index: 20;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-modal-relative {
    background-color: #00000055;
    z-index: 20;
    top: 0;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-text {
    color: white;
    text-shadow: 1px 1px black;
}


/* --- Loaders ---  */

.loader-element {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
}
.loader-icon {
	letter-spacing: 2px;
}

.upload-progress {
    background-color: blue;
}

/* --- Animated backgrounds --- */

/* body */

.shapes-container {
    position: relative;
    z-index: -9999;
    opacity: 0.25;
}

.shape {
	position: fixed;
	opacity: 1;
}

.ball {
	border-radius: 100%;
}
.square {
	border-radius: 0%;
}
.triangle {
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.star {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.black-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
}

/* Signin page */

@keyframes originalBackground {
	from {
		background-color: #5C9999ff;
	}
	to {
		background-color: #5C9999ff;
	}
}
@keyframes animatedImage {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 100%;
	}
}
@keyframes animatedImageVertical {
	from {
		background-position: 50% 0;
	}
	to {
		background-position: 50% 100%;
	}
}
@keyframes animatedOpacity {
	from {
		background-color: #ffffffff;
	}
	to {
		background-color: #ffffff00;
	}
}
.with-background-img {
    position: relative;
    color: black;
}
.with-background-img::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	content: '';
    color: #5c9999;
	background-repeat: repeat-x;
    background-size: cover !important;
	animation: var(--imgAnimation);
}
.with-background-flash {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
	content: '';
	animation: 10s linear infinite originalBackground
}