.tw-container {
    display: flex;
    text-align: left;
    gap: 10px;
}

.tw-profile img {
    border-radius: 99px;
}

.tw-top > div {
    display: inline;
}

.tw-name {
    font-weight: bold;
}

.tw-username, .tw-ac-date {
    color: #888;
}

.tw-content {
    width: 100%;
    min-height: 200px;
    border: 1px solid #eee;
    padding: 5px;
}

.tw-link {
    color: darkturquoise;
    margin-top: 12px;
    cursor: pointer;
    word-break: break-all;
}

.tw-counter-red, .tw-counter-orange, .tw-counter-green {
    align-self: center;
}

.tw-counter-red {
    background-color: #ff5555;
    padding: 0 5px;
    color: #fff;
}

.tw-counter-orange {
    color: orange;
}

.tw-counter-green {
    color: #00e06e;
}

.tw-title {
    padding: 3px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: #eee;
}

.tw-options {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px;
}
.tw-option {
    text-align: left;
    padding-left: 20px;
}
.tw-option label {
    padding: 0 6px;
}

.tw-canvas {
    width: 50%;
    padding: 1px;
    opacity: 0.7;
}

.tw-selected {
    opacity: 1;
    background-color: yellow;
}