.dashboard {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: -webkit-fill-available;
    overflow: auto;
}

@media only screen and (max-width: 1050px) {
    .dashboard {
        grid-template-columns: 35% 65%;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard {
        grid-template-columns: 100%;
    }
}

.dashboard-container {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.dashboard-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
}
.dashboard-title-block {
    color: #fff;
    padding: 15px;
    background-color: #bbbbbb;
    display: flex;
    column-gap: 6px;
    flex-wrap: wrap;
}

.dashboard-block {
    background-color: #fff;
    padding: 10px;
}
.dashboard-block::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.dashboard-block::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f0f0f0;
}
.dashboard-block::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
}
.dashboard-block::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; 
}

.dashboard-main-cards {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.dashboard-cards {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.viewed-mkpoints-list {
    max-height: 200px;
    overflow: auto;
}
.viewed-mkpoints {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.viewed-mkpoint-activity-date {
    color: #bbbbbb;
}
.viewed-mkpoint-name {
    font-weight: bold;
}
.viewed-mkpoint {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    border-bottom: 1px dashed #f0f0f0;
    padding: 10px;
}
.viewed-mkpoint-thumbnail {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.viewed-mkpoint-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.viewed-mkpoint-block {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 3px;
}
.viewed-mkpoint-prefecture-block {
    padding: 10px;
    background-color: #bbb;
    color: #fff;
    cursor: pointer;
}
.viewed-mkpoint-city-container {
    padding: 6px 10px;
    background-color: #fff;
}

.rd-card {
    background-color: #fff;
}
.rd-header {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.rd-header:hover {
    opacity: 0.8;
}
.rd-title {
    color: white;
    text-shadow: 1px 1px 3px black;
    font-family: Yu Mincho;
    font-weight: bold;
}
.rd-date {
    color: white;
    text-align: right;
}
.rd-details {
    padding: 10px;
}
.rd-course {
    display: flex;
    gap: 5px;
    align-items: center;
}
.rd-course img {
    object-fit: cover;
    object-position: 0% 80%;
    height: 1em;
    width: 40px;
    border: 1px dashed;
}