.pg-sg-header {
    height: 350px;
    background-position: center;
}
.pg-sg-header h1, .pg-sg-header p {
    color: white;
}
.pg-sg-topline {
    display: flex;
    gap: 20px;
}
.pg-sg-location {
    font-weight: bold;
}
.pg-sg-section-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}
.pg-sg-infos-main {
    display: flex;
}
.pg-sg-generalinfos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pg-sg-specs-container {
    display: flex;
}
.pg-sg-specs {
    min-width: 200px;
}
.pg-sg-description {
    text-align: justify;
}
.pg-sg-point {
    padding: 0px 20px;
}

.pg-sg-timeline-container {
    display: flex;
    position: relative;
    margin: 10px 0px;
}
.pg-sg-timeline {
    background-color: #bbbbbb;
    border-radius: 10px;
    height: 4px;
    top: 3px;
    width: 100%;
    position: absolute;
}
.pg-sg-timeline-month {
    width: calc(100% / 12);
    height: 4px;
    top: 3px;
    color: white;
    z-index: 2;
    border-left: 1px solid;
    position: relative;
}
.pg-sg-timeline-month-name {
    color: #bbbbbb;
    position: absolute;
    top: -20px;
    font-size: 12px;
}
.pg-sg-timeline-season {
    display: flex;
    position: absolute;
    width: 100%;
    top: -3px;
}
.pg-sg-seasonline {
    width: calc(100% / 3);
    height: 10px;
    position: absolute;
}
.pg-sg-seasonline.on {
    background-color: #ff5555;
}
.pg-sg-seasonline.off {
    background-color: #000;
}
.pg-sg-seasonline.early {
    left: 0%;
}
.pg-sg-seasonline.mid {
    left: 33%;
}
.pg-sg-seasonline.late {
    left: 66%;
}
/*.pg-sg-season-descriptions {
    display: flex;
    position: relative;
    max-height: 180px;
}*/
.pg-sg-season-descriptions {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-height: 180px;
    min-width: 100%;
}
.pg-sg-season-description::before {
    content: '';
    position: absolute;
    top: -14px;
    z-index: 8;
    left: 0px;
    border-left: 1px solid #ff5555;
    height: 14px;
}
/*.pg-sg-season-description {
    width: calc(100% / 12 * 3);
    top: 0px;
    position: absolute;
    height: inherit;
    padding-top: 0px;
    border-radius: 0px 10px 10px 10px;
}*/
.pg-sg-season-description {
    width: calc(100% / 12 * 3);
    max-width: fit-content;
    top: 0px;
    position: absolute;
    height: inherit;
    max-height: 100%;
    padding-top: 0px;
    border-radius: 0px 10px 10px 10px;
}
.pg-sg-season-description p {
    background-color: #ffffff;
    padding: 10px;
    overflow: auto;
    height: auto;
    max-height: 100%;
    border: 1px solid #ff5555;
    border-radius: 0px 10px 10px 10px;
    text-align: justify;
    font-size: 12px;
}
.pg-sg-season-description p::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.pg-sg-season-description p::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 10px;
}
.pg-sg-season-description p::-webkit-scrollbar-thumb {
    background: #ff5555;
    border-radius: 10px;
}
.pg-sg-season-description p::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; 
}

.pg-sg-map-box {
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.pg-sg-itinerary {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.pg-sg-itinerary-title {
    font-weight: bold;
}
.pg-sg-itinerary-spot {
    gap: 10px;
    display: flex;
}
.pg-sg-spot-icon {
    width: 24px;
}
.pg-sg-spot-distance {
    width: 60px;
    min-width: 60px;
}
.pg-sg-spot-name {
    width: 100%;
}

.pg-sg-photos-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: #fff;
}
.pg-sg-photo {
    height: 120px;
    width: 180px;
}
.pg-sg-photo img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.map-tooltip {
    min-width: max-content !important;
}


@media only screen and (max-width: 768px) {
    .pg-sg-infos-main {
        flex-direction: column;
        gap: 10px;
    }
    .pg-sg-photo {
        width: 160px;
        flex-grow: 4;
    }
    .pg-sg-map-box {
        display: flex;
        flex-direction: column-reverse;
    }
    #segmentMap {
        width: 100%;
        height: 100%;
    }
    .map-tooltip {
        min-width: fit-content !important;
    }

    .pg-sg-season-descriptions {
        display: block;
        height: 100% !important;
        max-height: 100%;
    }
    .pg-sg-season-description {
        position: relative;
        height: auto;
        min-width: 100%;
        margin-left: 0px !important;
    }
    .pg-sg-season-description p {
        border: none;
        display: block;
        border-radius: 0px;
        overflow: unset;
        padding: 0px;
    }
    .pg-sg-season-description::before {
        border: none;
        position: relative;
        width: 30px;
        height: 2px;
        background-color: #ff5555;
        display: inline-block;
        top: auto;
        margin-left: calc(var(--margin-left)) !important;
    }
}

@media only screen and (max-width: 520px) {
    .pg-sg-specs-container {
        display: block;
    }
}